<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<title>{{title}}</title>
</head>

<body>
	<!-- <ul>
	{{#each data}}
		<li>
		{{display}}
		</li>
	{{/each}}
	</ul> -->
	<h1>data</h1>
</body>

</html>