<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<title>{{title}}</title>
</head>

<body>
	<p>
		{{data}}
	</p>
</body>

</html>