<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<title>{{title}}</title>
</head>

<body>
	<p>
		{{#each data}}
			<li>
				{{display}}
			</li>
		{{/each}}
	</p>
	{{log data}}
</body>

</html>