.app-window {
  width: 90%;
  margin: auto;
}

ul li {
  font-size: 10pt;
}

.left-sidebar {
  -webkit-box-shadow: 12px 0 6px -6px #eee;
  -moz-box-shadow:    12px 0 6px -6px #eee;
  box-shadow:         12px 0 6px -6px #eee;
}

.pos-OF {
  background-color: #14CCBD;
  text-align: center;
  border-radius: 5px;
  height: 19px;
  width: 30px;
}

.pos-P {
  background-color: #62D96B;
  text-align: center;
  border-radius: 5px;
  height: 19px;
  width: 30px;
}

.pos-SS {
  background-color: #D1F26D;
  text-align: center;
  border-radius: 5px;
  height: 19px;
  width: 30px;
}

.top-bar {
  height: 50px;
  background-color: blue;
}

.center-contents {
  text-align: center;
}

.bid-box {
  text-align: center;
  height: 60px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
} 

.small-margin-top {
  margin-top: 5px;
}

#draft-log {
  font-size: 9pt;
}

.teamname {
  font-size: 8pt;
}

.roster-box {
  height: 450px;
  overflow: scroll;
}

.thin-border {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}

.ranking {
  margin-top: 10px;
  text-align: center;
}

.column-center {
  text-align: center;
}

.column-right {
  text-align: right;
}

.roster-table {
  font-size: 8pt;
}

.player-table {
  font-size: 10pt;
}

.stats-table {
  font-size: 10pt;
  margin-top: 50px;
}

.main-details {
  margin-top: 10px;
  margin-left: 10px;
}

.player-picked {
  background-color: #D3D3D3;
}

.stat-box {
  height: 500px;
  overflow: scroll;
}

.stat-box-small {
  height: 300px;
  overflow: scroll;
}

.margin-below {
  margin-bottom: 15px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}