.app-window {
  width: 90%;
  margin: auto;
}

.hp-budgets {
  margin: 15px auto;
  text-align: right;
}

ul li {
  font-size: 10pt;
}

.left-sidebar {
  -webkit-box-shadow: 12px 0 6px -6px #eee;
  -moz-box-shadow:    12px 0 6px -6px #eee;
  box-shadow:         12px 0 6px -6px #eee;
}

.pos-OF {
  background-color: #D13913;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-P {
  background-color: #DB2C6F;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-SS {
  background-color: #8F398F;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-1B {
  background-color: #7157D9;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-2B {
  background-color: #2965CC;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-3B {
  background-color: #00B3A4;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-C {
  background-color: #238C2C;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-U {
  background-color: #87A629;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-MI {
  background-color: #BF8C0A;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.pos-CI {
  background-color: #96622D;
  text-align: center;
  border-radius: 5px;
  height: 18px;
  width: 30px;
  color: white;
}

.top-bar {
  height: 50px;
  background-color: #394B59;
  color: white;
}

.top-bar h2 {
  margin-top: 5px;
}

.center-contents {
  text-align: center;
}

.bid-box {
  text-align: center;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  margin-top: 35px;
  padding-top: 9px;
} 

#bid-quantity {
  height: 40px;
}

.small-margin-top {
  margin-top: 5px;
}

#draft-log {
  font-size: 9pt;
}

.teamname {
  font-size: 8pt;
}

.roster-box {
  height: 380px;
  overflow: scroll;
}

.border-under {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #eeeeee;
}

.thin-border {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
}

.column-center {
  text-align: center;
}

.column-right {
  text-align: right;
}

.roster-table {
  font-size: 8pt;
}

.player-table {
  font-size: 10pt;
}

.stats-table {
  font-size: 10pt;
  margin-top: 42px;
}

.stats-table-fixed {
  overflow: scroll;
  height: 350px;
}

.player-link {
  color: #2458B3;
}

.player-link:visited {
  color: #2458B3;
}

.player-link:hover {
  color: #669EFF;
  text-decoration: none;
}

.budget-table {
  font-size: 10pt;
  margin-top: 5px;
}

.main-details {
  margin-top: 10px;
  margin-left: 10px;
}

.player-picked {
  color: #A7B6C2;
  text-decoration: line-through;
}

.player-picked a {
  color: #A7B6C2;
  text-decoration: line-through;
}

.player-mine {
  background-color: rgb(240,248,255);
}

.margin-above {
  margin-top: 25px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#active-stats-team {
  margin: 0;
  height: 20px !important;
  font-size: 9pt !important;
}